<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} — Site</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<header>
		<nav>
			<a href="/">Главная</a>
			<a href="/product">Товары</a>
		</nav>
		{% block search %}
			<form action="">
				<input type="text" name="search" id="">
				<button>Поиск</button>
			</form>
		{% endblock %}
		{% if user.is_authenticated %}
			<a href="/order">{{ user.username }}</a>
			<a href="/logout">Выйти</a>
		{% else %}
			<a href="/login">Войти</a>
		{% endif %}
	</header>
	<main>
		{% if messages %}
			<article>
				<ul>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			</article>
		{% endif %}
		{% block context %}{% endblock %}
	</main>
</body>
</html>