<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Главная{% endblock %} — Site</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
	<header>
		<nav>
			<a href="/">Главная</a>
			<a href="/news">Новости</a>
			{% if user.is_authenticated %}
				<a href="/repair">{{ user.username }}</a>
				<a href="/logout">Выйти</a>
			{% else %}
				<a href="/login">Войти</a>
			{% endif %}
		</nav>
		{% block search %}
			<form action="">
				<input type="text" name="search" id="">
				<button>Поиск</button>
			</form>
		{% endblock %}
	</header>
	<main>
		{% if messages %}
			<article>
				<h2>Системные сообщения.</h2>
				<ul>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			</article>
		{% endif %}
		{% block context %}{% endblock %}
	</main>
</body>
</html>