{% extends "main/product_list.html" %}

{% block title %}Заказы{% endblock %}

{% block search %}{% endblock %}

{% block context %}
	{% if user %}
		<article>
			<h1>{{ user.first_name }} {{ user.last_name }}</h1>
		</article>
		<article>
		{% if user.order_set.all %}
			<ul>
				{% for order in user.order_set.all %}
					<li>
						<h3><a href="/news/{{ order.product.id }}/">{{ order.product.title }}</a></h3>
						{% for image in order.product.photoproduct_set.all %}
							<img src="/post_images/{{ image }}"
							     alt="Изображение {{ order.product.title }}">
						{% endfor %}
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Нет заказов.</p>
		{% endif %}
		</article>
	{% else %}
		<article>
			Вы не вошли в систему.
		</article>
	{% endif %}
{% endblock %}